.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.hostillustration {
  animation: fadeIn 2s ease-in;
}
.waypoint {
  opacity: 0;
}
.fadeInUp {
  animation: fadeInUp 2s forwards;
}