.content {
  padding: $verticalrhythym 0;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
  }
  h3 {
   font-weight: bold;
   color: $accent;
   margin-top: 0;
   margin-bottom: 20px;

    > img {
      display: inline;
      width: 190px;
      height: auto;
      margin-bottom: 5px;
      margin-right: 10px;
    }
  }
}
section.home-content {
  background:url('../img/background-image.jpg') no-repeat center center fixed;
  background-size: cover;

  > .container {
    padding-bottom: 3vh;

    > .logo-main {
      display: block;
      margin: 0 auto;
      padding: $verticalrhythym 0 $verticalrhythymmore;
      width: 100%;
      max-width: 319px;
      height: auto;
    }
    > .hostillustration {
      max-width: 80%;
      height: auto;
      display: block;
      margin: 0 auto 40px;
      margin-top: 8em;
    }
    > .icon-mouse {
        width: 30px;
        height: auto;
        display: block;
        margin: 0 auto;

    }
  }
}
section.panel1 {
  background-color: white;
  // background:url('../img/background-servers1.jpg') no-repeat center center;
  background-size: cover;
}
section.panel2 {
  background-color: white;
  // background:url('../img/background-servers2.jpg') no-repeat center center fixed;
  background-size: cover;
}
section.panel3 {
  background-color: white;
}
section.calloutbanner {
  background-color: $main;

  > .container {
      text-align: center;

      > h2 {
        color: white;
        margin-bottom: 20px;

        a {
        color: white;
        text-decoration: underline;

        &:hover,
        &:active {
          color: $accent;
        }
      }
    }
  }
}
section.contact {

  h2,
  h3 {
    color: white;
    margin-top: 10px;

    a {
      color: $main;
      text-decoration: underline;

      &:hover,
      &:active {
        color: white;
      }
    }
  }
  p {
    color: white;
  }
  form {
    color: white;

    label {
      color: white;
    }
    input,
    textarea {
      border-radius: 0;
    }
    button.btn-submit {
      background: $main;
      color: white;
      border-radius: 20px;

      &:hover,
      &:active {
        background: $mainDarken;
      }
    }
  }
}
.dcsns-toolbar {
  display: none;
}
div#social-stream {
  min-height: 600px;
}
/*global */
a[data-group="dc-filter"] img,
img.icon {
  width: 30px;
  height: 30px;
}
img.icon {
  padding: 2px;
    background: #fff;
    float: left;
}
/*    chooser    */
div.dcsns-toolbar {
    display: none;
}
/*    stream    */
ul.stream {
  padding-left: 0;
  list-style-type: none;
}
ul.stream li {
  margin: 7px 0;
  width: 100%;
  padding:15px;
  margin-bottom:15px;
  border: 1px solid grey;
  background: white;
  font-size: 13px;
}
ul.stream li span {
  font-family: 'Avenir', sans-serif;
}
ul.stream li.dcsns-twitter {
  border: 1px solid #4099ff;
}
ul.stream li.dcsns-facebook {
  border: 1px solid #3b5998;
}
ul.stream li.dcsns-instagram {
  border: 1px solid #C3792B;
}
ul.stream li a {
  font-family: 'Avenir', sans-serif;
  color: #777;
}
ul.stream li div.inner {
  margin-bottom: 15px;
  top: 0;
  left: 0;
}
ul.stream li div.inner span.section-text {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    line-height:20px;
  font-size:12px;
}
ul.stream li div.inner span.section-text .twitter-user {
  display: block;
  margin-bottom: 8px;
}
ul.stream li div.inner span.section-text .twitter-user a {
  color: #ddd;
  font-size: 13px;
  line-height: 12px;
}
ul.stream li div.inner span.section-text .twitter-user a strong {
  font-size:14px;
  color: #777;
  line-height: 18px;
}
ul.stream li div.inner span.section-text a {
  color:#333;
}
ul.stream li div.inner span.section-text a img {
  width: 100%;
  height: auto;
  margin: 5px 0;
  margin-top:12px;
}
ul.stream li div.inner span.section-text a strong {
  display: block;
  font-weight: normal;
  text-transform:uppercase;
  font-size:14px;
}
ul.stream li div.inner span.section-share {

}
ul.stream li div.inner span.section-share a {

}
ul.stream li span.section-intro {
  display: inline-block;
  padding: 5px;
  margin-bottom: 7px;
  margin-top: 1px;
  background-color: white;
  font-size:12px;
}
ul.stream li span.section-intro a {
  font-family: 'Avenir', sans-serif;
  color: #333;
}
ul.stream li span.section-intro span {

}
.stream li.dcsns-twitter .section-intro, .filter .f-twitter a:hover, .wall-outer .dcsns-toolbar .filter .f-twitter a.iso-active,
.stream li.dcsns-instagram .section-intro, .filter .f-instagram a:hover, .wall-outer .dcsns-toolbar .filter .f-instagram a.iso-active {
  /* gah, still got inline styles */
  background: transparent!important;
}
.section-user, .stream li.dcsns-instagram .section-meta {
  font-size:12px;
}

.inner span.section-thumb a:not(.thumb) img {
  width: 100%;
  height: auto;
  margin-top:2px;
  margin-bottom: 15px;
}
.stream li.dcsns-instagram .inner .section-meta img {
  display: none;
}
.stream li.dcsns-instagram .inner .section-user a {
  margin-right: 5px;
}
/*   specific feeds styles   */
.dcsns-twitter a.thumb {
  display:none;
}
.stream li.dcsns-instagram .inner .section-intro span {
  background: transparent!important;
}
@media (min-width: 480px){
  section#news {
    padding-top: 40px;
  }
  ul.stream li {
    width: 94%;
    margin: 7px;
  }
}
@media (min-width: 768px){
  ul.stream li {
    width: 48%;
  }
}
@media (min-width: 992px){
  ul.stream li {
    width: 24%;
  }
  .less-pad {
    padding-left: 7px;
    padding-right: 7px;
  }
}

section.panelcontact {
  padding-top: 30vh;
  background: white;
}
@media (min-width: 480px) {
  .home-content {
      padding-top: 20vh;
  }
}
@media (min-width: 50em){
    body  {
    font-size: 13px;
    }
    .content {
      padding: 10vh 0;
    }
    .home-content {

    > .container {
        padding-bottom: 1px;

      > .hostillustration {
          max-width: 60%;
          max-height: 40vh;
          margin-bottom: $verticalrhythymmore;
      }
    }
  }
}
@media (min-width: 992px) {
  .content {
    > .container {
        padding-left: 0px;
    }
  }
}
@media (min-width: 992px) {
  .content {
    > .container {

    }
  }
}
@media(min-height: 800px) {

  body  {
    font-size: 16px;
  }
  .home-content > .container > .hostillustration {
    max-width: 60%;
     max-height: 45vh;

  }
}
@media(min-height: 900px) {

  .home-content > .container > .hostillustration {
    max-width: 75%;
     max-height: 50vh;

  }
}
@media (max-width:480px){
  h2 {
    font-size: 26px;
  }
}
