// fonts
@import url(https://fonts.googleapis.com/css?family=Cantarell:400,700);

// vars
$main: #AF2F00;
$mainDarken: darken( $main, 10% );
$accent: #57595B;
$verticalrhythym: 5vh;
$verticalrhythymmore: 20vh;

// the actual CSS
@import "bootstrap";
@import "globals";
@import "ie";
@import "footer";
@import "homecontent";
@import "navigation";
@import "animations";

